<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{{ .Title }} – Das Generationenprojekt. Geschichte von unten.</title>

  <link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/combined.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/slidebars.css">

  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic' rel='stylesheet' type='text/css'>
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/google_news.html" . }}

</head>

{{ if .Params.lang }}
    <body lang="{{ .Params.lang }}" itemscope itemtype="http://schema.org/Article">
    {{ else }}
    <body lang="de">
    {{ end }}


<div canvas="container">

<div>
<button class="toggle-slidebar-1"><span style="font-size:2rem">&#9776;</span></button>
</div>
<article itemscope itemtype="http://schema.org/Article">

{{ block "main" . }}{{ end}}
</article>

<footer>
  <p>
    <small>
      Das Copyright für die Texte liegt bei den Autoren.
    </small>
    <section id="footer-nav">
    <a href="/">Startseite</a> | <a href="/page/impressum">Impressum</a> | <a href="mailto:redaktion@generationenprojekt.de">Redaktion anschreiben</a>
    </section>
  </p>
</footer>
</div>

{{ partial "nav.html" . }}

<script src="{{ .Site.BaseURL }}/assets/combined.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/jquery-3.1.0.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/slidebars.min.js"></script>
<script>
      ( function ( $ ) {
        // Initialize Slidebars
        var controller = new slidebars();
        controller.init();

        // Toggle Slidebars
        $( '.toggle-slidebar-1' ).on( 'click', function ( event ) {
          // Stop default action and bubbling
          event.stopPropagation();
          event.preventDefault();

          // Toggle the Slidebar with id 'id-1'
          controller.toggle( 'slidebar-1' );
        } );
      } ) ( jQuery );
</script>

</body>
</html>
