{{ define "main" }}
<h1>{{ .Title }}</h1>
<h2>{{ .Site.Params.subtitle }}</h2>
<p class="attention-grabber">{{ .Site.Params.description }}</p>
<figure>
<img class="toggle-slidebar-1" src="{{ .Site.BaseURL}}/images/GP.png">
</figure>
<h1>{{ .Site.Params.tocname }}</h1>
    {{ range .Data.Pages.GroupBy "Section" }}
    {{ if and (ne .Key "page") (ne .Key "editorials") }}
    <h2>{{ .Key }}</h2>
            {{ range .Pages }}
                {{ .Render "summary"}}
            {{ end }}
    {{ end }}
    {{ end }}

{{ end }}
