{{ define "main" }}
<h1 id="frontpage">{{ .Title }}</h1>

<p class="attention-grabber">{{ .Site.Params.description }}</p>
<figure>
<img class="toggle-slidebar-1" src="/images/GP.png">
</figure>

<p>Erfahren Sie <a href="page/mitmachen">hier</a>, wie Sie einen Beitrag einreichen können.</p>
<h1>Die Texte</h1>
    {{ range .Data.Pages.GroupBy "Section" }}
    {{ if and (ne .Key "page") (ne .Key "editorials") }}
    <h2>{{ .Key }}</h2>
            {{ range .Pages }}
                {{ .Render "summary"}}
            {{ end }}
    {{ end }}
    {{ end }}

{{ end }}
